/* For use in src/lib/core/theming/_palette.scss */
$mat-primarypalette: (
    50 : #fbeae8,
    100 : #f6cbc7,
    200 : #f0a8a1,
    300 : #e9857b,
    400 : #e56a5f,
    500 : #e05043,
    600 : #dc493d,
    700 : #d84034,
    800 : #d3372c,
    900 : #cb271e,
    A100 : #ffffff,
    A200 : #ffd1cf,
    A400 : #ffa09c,
    A700 : #ff8882,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-secondarypalette: (
    50 : #f2e7e7,
    100 : #dfc4c2,
    200 : #ca9d9a,
    300 : #b47672,
    400 : #a45853,
    500 : #943b35,
    600 : #8c3530,
    700 : #812d28,
    800 : #772622,
    900 : #651916,
    A100 : #ffa19e,
    A200 : #ff6f6b,
    A400 : #ff3d38,
    A700 : #ff251f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);